<body>
    <div class="form">
        <title>
            Formulario de Cliente</title>
        <h1>Registro</h1>
        <form action="">
            <label>identificacion</label>
            <br>
            <input type="text" [(ngModel)]="clientes.identificacion" name="identificacion" id="identificacion" placeholder="Ingrese sus cedula">
            <br>
            <label>Nombre</label>
            <br>
            <input type="text" [(ngModel)]="clientes.nombre" name="nombre" id="nombre" placeholder="Ingrese su nombre">
            <br>
            <label>Apellido</label>
            <br>
            <input type="text" [(ngModel)]="clientes.apellido" name="apellido" id="apellido" placeholder="Ingrese su apellido">
            <br>
            <label>Hora En La Que Quiera Asistir</label>
            <br>
            <input type="time" [(ngModel)]="clientes.hora" name="hora" id="hora">
            <br>
            <label>Email</label>
            <br>
            <input type="email" [(ngModel)]="clientes.email" name="email" id="email" placeholder="Ingrese su email">
            <br>
            <br>
            <input type="submit" value="enviar" (click)="Guardar()">
        </form>
    </div>
</body>
