<body>
    <div class="form">
        <title>
            Formulario de Profesionales</title>
        <h1>Registro</h1>
        <form action="">
            <p>identificacion</p>
            <br>
            <input type="text" [(ngModel)]="profesores.identificacion" name="identificacion" id="identificacion" placeholder="Ingrese sus cedula">
            <br>
            <p>Nombre</p>
            <br>
            <input type="text" [(ngModel)]="profesores.nombre" name="nombre" id="nombre" placeholder="Ingrese su nombre">
            <br>
            <p>Apellido</p>
            <br>
            <input type="text" [(ngModel)]="profesores.apellido" name="apellido" id="apellido" placeholder="Ingrese su apellido">
            <br>
            <p>Email</p>
            <br>
            <input type="email" [(ngModel)]="profesores.email" name="email" id="email" placeholder="Ingrese su email">
            <br>
            <p>Titulos Profesionales</p>
            <br>
            <input type="text" [(ngModel)]="profesores.titulosProfesionaels" name="titulosProfesionaels" id="titulosProfesionaels" placeholder="Ingrese sus Titulos">
            <br>
            <input type="submit" value="enviar" (click)="Guardar()">
        </form>
    </div>
</body>
