<body>
    <div class="form">
        <title>
            Formulario de Profesionales</title>
        <h1>Editar</h1>
        <form [formGroup]="editarForm">
            <div class="contenedor">
                <div *ngFor="let item of respuesta">
                    <p>identificacion</p>
                    <br>
                    <input formControlName="identificacion" type="text" [(ngModel)]="item.identificacion" name="identificacion" id="identificacion" placeholder="Ingrese sus cedula">
                    <br>
                    <p>Nombre</p>
                    <br>
                    <input formControlName="nombre" type="text" [(ngModel)]="item.nombre" name="nombre" id="nombre" placeholder="Ingrese su nombre">
                    <br>
                    <p>Apellido</p>
                    <br>
                    <input formControlName="apellido" type="text" [(ngModel)]="item.apellido" name="apellido" id="apellido" placeholder="Ingrese su apellido">
                    <br>
                    <p>Email</p>
                    <br>
                    <input formControlName="email" type="email" [(ngModel)]="item.email" name="email" id="email" placeholder="Ingrese su email">
                    <br>
                    <p>Titulos Profesionales</p>
                    <br>
                    <input formControlName="titulosProfesionaels" type="text" [(ngModel)]="item.titulosProfesionaels" name="titulosProfesionaels" id="titulosProfesionaels" placeholder="Ingrese sus Titulos">
                    <br>
                    <input type="submit" value="enviar" (click)="editData(item.id)">
                </div>
            </div>
        </form>
    </div>
</body>
