<body>
    <div class="content">
        <img src="../../../assets/imagenes/logo-yavirac.png" alt="">
    </div>
    <title>
        Inicio
    </title>
    <h1>Bienvenidos</h1>
    <label for="">Bienvenidos este sistema se conferencia
      especializado para la muestra de charlas y cuidado de nuestro querido
      medio ambiente usted puede registrarce como asistente y como el que va a dar la charla
    </label>
    <input type="button" value="Docente" (click)="enviar()">
    <input type="button" value="Cliente" (click)="enviarCliente()">
</body>
